*{
    background-color: #fafafa;
}
.shadow{
    box-shadow: 1px 5px 10px gray;
}
.width15{
    width: 14%;
}
.width40{
    width: 40%;
}
.width10{
    width: 10%;
}
.center{
    display: flex;
    margin: auto;
}
.pointer{
    cursor: pointer;
}